/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#222;
  font-family: Segoe UI, Aerial, Helvetica, sans-serif;
  color: #fff;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  background-image: radial-gradient(farthest-corner at 500px 200px,
      #505558 0%, #222 50%, #111 80%);
}

/* ---- splashbox ---- */

#splashbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  pointer-events: none; /* So that the hover effect works on the background */
  filter: invert(100%);
}

/* ---- header ---- */
header {
  width: 100%;
  height: 100px;
  background: rgba(30,30,30,0.5);
  position: absolute;
}

#logo {
  filter: invert(100%);
  height: 60px;
  padding: 20px 40px;
  float: left;
}

#header-nav {
  float: right;
  height: 20px;
  padding: 40px 0;
}

#header-nav > a {
  margin: 0 10px;
  color: #fff;
}

hr {
  height: 2px;
  width: 15%;
  margin: 0;
  margin-top: 3px;
  margin-left: 2%;
  width: 47px;
  background: #fff;
  border: none;
  transition: .3s ease-in-out;
}

#header-nav > a:nth-child(1):hover ~ hr {
  margin-left: 2%;
  width: 47px;
}

#header-nav > a:nth-child(2):hover ~ hr {
  margin-left: 19%;
  width: 75px;
}

#header-nav > a:nth-child(3):hover ~ hr {
  margin-left: 43%;
  width: 45px;
}

#header-nav > a:nth-child(4):hover ~ hr {
  margin-left: 59%;
  width: 100px;
}

#header-nav > a:nth-child(5):hover ~ hr {
  margin-left: 90%;
  width: 30px;
}

#header-container {
  max-width: 1500px;
  margin: auto;
}

@media only screen and (max-width: 850px) {
  header {
    background: none;
  }

  #header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(30,30,30,0.5);
  }

  #logo {
    display: none;
  }
}

/* ---- info box ---- */

.info-box {
  display: table;
  table-layout: fixed;
  width: 100%;
  line-height: 150%;
}

.info-box-image {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
}

.info-box-text{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  background: #222;
  position: relative;
  height: 25em;
}

.info-box-text > div {
  margin: auto;
  max-width: 500px;
  padding: 0 50px;
  vertical-align: middle;
}

.info-box-text > div > * {
  line-height: 180%;
  margin: 10px 0;
}

.info-box-text > div > p {
  color: #ccc;
  font-size: 0.9em;
}

@media only screen and (max-width: 1000px) {
  .info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
  }
  .info-box-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px;
  }

  .info-box-image {
    display: block;
    margin: auto;
    width: 100%;
    height: 20em;
  }
}

/* ---- generic stuff ---- */
.line-seperator {
  height: 1px;
  background: #aaa;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 8px 50px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  transition: background 0.5s, color 0.5s;
}

.button:hover {
  background: #fff;
  color: #000;
}

/* ---- Icons ---- */

.icon-w-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  line-height: 180%;
}

.icon-w-info > h2 {
  display: block;
}

.icon-w-info > * {
  margin: 10px 0;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 0 20px;
}

.icon-item > i {
  padding: 20px;
  border-radius: 500px;
  border: 2px solid #fff;
}

.icon-item > * {
  margin: 10px 0;
}

.icon-info {
  text-align: center;
  color: #aaa;
}

@media only screen and (max-width: 1400px) {
  .icon-item {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .icons-container {
    flex-direction: column;
  }

  .icon-item {
    width: 90%;
  }
}